.homepage {
  text-align: left !important;
}

.homepage h1 {
  font-size: 4rem !important;;
}

.homepage h1 + p {
  opacity: 1 !important;
  font-size: 1.75rem !important;
  margin-top: 1rem !important;
}

.homepage footer {
  padding: 0 3.5rem 2.5rem 3.5rem;
}

.no-subtitle h1 + p {
  margin-top: 1.5rem;
  opacity: 1 !important;
}

ul {
  list-style-type: '- ' !important;
}

.col-padding {
  padding-right: 1rem;
}

.spacer {
  height: 2px;
}

code:before, code:after {
  content: '\00a0 ' !important;
}

.image-right-center-left + div {
  background-position: right center !important;
}